*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 8%;
    background:#111;
}

.logo{
    color:white;
    font-size:32px;
}

.nav-links a{
    color:white;
    text-decoration:none;
    margin-left:25px;
}

.hero{
    background:#ff6b00;
    color:white;
    text-align:center;
    padding:90px 20px;
}

.hero h1{
    font-size:50px;
    margin-bottom:15px;
}

.order-section{
    padding:80px 8%;
    display:flex;
    justify-content:center;
}

.order-form{
    width:600px;
    display:flex;
    flex-direction:column;
    gap:18px;
    background:white;
    padding:40px;
    border-radius:15px;
    box-shadow:0 5px 15px rgba(0,0,0,0.1);
}

.order-form input,
.order-form select,
.order-form textarea{
    padding:15px;
    border:1px solid #ddd;
    border-radius:8px;
    font-size:16px;
}

.order-form button{
    padding:15px;
    border:none;
    background:#111;
    color:white;
    font-size:16px;
    border-radius:8px;
    cursor:pointer;
}

.order-form button:hover{
    background:#ff6b00;
}

footer{
    background:#111;
    color:white;
    padding-top:60px;
}

.footer-container{
    display:flex;
    justify-content:space-around;
    flex-wrap:wrap;
    padding-bottom:40px;
}

.footer-container div{
    display:flex;
    flex-direction:column;
}

.footer-container a{
    color:#ccc;
    text-decoration:none;
    margin-top:10px;
}

.footer-container p{
    color:#ccc;
    margin-top:10px;
}

hr{
    border:1px solid #333;
}

.copyright{
    text-align:center;
    padding:20px;
    color:#aaa;
}
#develop{
    text-align: center;
}